/venv
**/pycache/*.pyc
# Arquivos Python compilados
*.pyc

# Pastas de cache Python
__pycache__/

# Arquivos específicos que você mencionou
nohup.out
pdfs/relatorio_29.02.24_tWK9sAe.pdf
tatus

# Arquivos de migração Django (se desejar)
# finance/migrations/__pycache__/
# finance/migrations/*.pyc

# Arquivos e pastas que são comumente ignorados em projetos Django
*.log
*.pot
*.pyo
*.mo
*.db
db.sqlite3
media/

# Arquivos Docker que geralmente não são ignorados
# (Remova estas linhas se desejar ignorar esses arquivos)
# Dockerfile
# docker-compose.yml

# Outros arquivos e pastas específicos do projeto
# (adicione aqui outros arquivos/pastas que deseja ignorar)

