{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}

    <!-- About Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
          <div class="row align-items-center">
              <div class="col-lg-6 pb-5 pb-lg-0">
                  <img class="img-fluid w-100" src="img/about.jpg" alt="">
              </div>
              <div class="col-lg-6">
                  <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">About Us</h6>
                  <h1 class="mb-4"></h1>
                  <p class="pl-4 border-left border-primary">Nossa plataforma combina tecnologia de ponta com inteligência artificial avançada para oferecer insights valiosos e acionáveis. Ao utilizar algoritmos sofisticados e análises detalhadas, transformamos dados complexos em informações claras e acessíveis.</p>
                  <p class="pl-4 border-left border-primary">Acreditamos que a tomada de decisão informada é essencial para o sucesso financeiro. É por isso que nos dedicamos a fornecer ferramentas poderosas que ajudam nossos usuários a entenderem melhor suas finanças, identificarem oportunidades e anteciparem desafios.</p>

                  <!--<div class="row pt-3">
                      <div class="col-6">
                          <div class="bg-light text-center p-4">
                              <h3 class="display-4 text-primary" data-toggle="counter-up">99</h3>
                              <h6 class="text-uppercase">Spa Specialist</h6>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="bg-light text-center p-4">
                              <h3 class="display-4 text-primary" data-toggle="counter-up">999</h3>
                              <h6 class="text-uppercase">Happy Clients</h6>
                          </div>
                      </div>
                  </div>-->
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->
{% endblock %}