{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}

    <!-- Open Hours Start -->
    <div class="container-fluid py-5">
      <div class="container">
          <div class="row" style="justify-content: center;">
              <div class="col-lg-6 pb-lg-5">
                  <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                      <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Metricas: Ações Vermelhas</h6>
                      <h1 class="mb-4">Ações Consolidadas no Mercado</h1>
                      <p>Nossas analises buscam empresas com boa liquidez nos últimos 2 meses, um valor empresarial em relação ao lucro operacional positivo e uma eficiência em gerar retorno sobre o capital investido positiva. Esses critérios ajudam a identificar empresas com fundamentos sólidos e potencial de desempenho positivo. Fornecemos uma seleção de 5 ações consolidadas no mercado e recomendamos se elas são adequadas para compra, venda ou manutenção em sua carteira.</p>
                      <a href="https://buy.stripe.com/5kA4jX7Fze4ZdYAfZA" class="btn btn-primary" target="_blank" style="color: black; padding: 10px 50px; border: 2px; border-radius: 5px;">Compre nosso Relatorio Diario</a>
                  </div>
              </div>
          </div>
          <div class="row" style="justify-content: center;">
            <div class="col-lg-6 pb-lg-5">
                <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                    <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Metricas: Ações Amarelas </h6>
                    <h1 class="mb-4">Ações Subvalorizadas</h1>
                    <p> Nosso código estabelece critérios para selecionar e classificar empresas com base em métricas financeiras, como preço/lucro e dividendos por ação. Cada critério tem um valor máximo ou mínimo definido, juntamente com uma direção de classificação. Isso é útil para identificar empresas com bom desempenho em áreas como rentabilidade, liquidez e valor de mercado. Fornecemos uma seleção de 4 ações Subvalorizadas no mercado e recomendamos se elas são adequadas para compra, venda ou manutenção em sua carteira.</p>
                    <a href="https://buy.stripe.com/5kA4jX7Fze4ZdYAfZA" class="btn btn-primary" target="_blank" style="color: black; padding: 10px 50px; border: 2px; border-radius: 5px;">Compre nosso Relatorio Diario</a>
                </div>
            </div>
          </div>
          <div class="row" style="justify-content: center;">
            <div class="col-lg-6 pb-lg-5">
              <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                  <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Direção </h6>
                  <h1 class="mb-4">Tecnicas de IA para definir Direção da Ação</h1>
                  <p>Em nossos Relatorios utilizamos técnicas avançadas de Inteligência Artificial para analisar e prever o comportamento das ações no mercado financeiro. Nossos algoritmos são capazes de avaliar uma série de variáveis e tendências, permitindo-nos determinar a direção na qual uma ação tem maior probabilidade de se mover, seja para cima ou para baixo. Essa abordagem baseada em IA nos ajuda a tomar decisões mais informadas e estratégicas ao investir, maximizando assim as oportunidades de retorno para nossos clientes. Em nosso relatorio diario disponibilizamos as metricas algoritmicas que nossas analises nos devolve sobre cada ação recomendada.</p>
                  <a href="https://buy.stripe.com/5kA4jX7Fze4ZdYAfZA" class="btn btn-primary" target="_blank" style="color: black; padding: 10px 50px; border: 2px; border-radius: 5px;">Compre nosso Relatorio Diario</a>
              </div>
            </div>
          </div>
          <div class="row" style="justify-content: center;">
            <div class="col-lg-6 pb-lg-5">
              <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Sentimento</h6>
                <h1 class="mb-4">ChatGPT 4 para analise do Sentimento do Mercado sobre a Ação</h1>
                <p>ChatGPT 4 é uma ferramenta inovadora que utiliza tecnologia de processamento de linguagem natural para analisar o sentimento do mercado em relação a uma determinada ação. Ao processar uma vasta quantidade de dados de fontes diversas, como notícias, redes sociais e relatórios financeiros, o ChatGPT 4 é capaz de identificar padrões e tendências no comportamento dos investidores. Com essa abordagem disponibilizamos em nosso relatorio diario as metricas que o ChatGPT4 nos devolve de cada ação analisada.</p>
                <a href="https://buy.stripe.com/5kA4jX7Fze4ZdYAfZA" class="btn btn-primary" target="_blank" style="color: black; padding: 10px 50px; border: 2px; border-radius: 5px;">Compre nosso Relatorio Diario</a>
              </div>
            </div>
          </div>
          <div class="row" style="justify-content: center;">
            <div class="col-lg-6 pb-lg-5">
                <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                    <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Decisão</h6>
                    <h1 class="mb-4">Com IA Juntamos todas as analises e Devolvemos uma decisão</h1>
                    <p>Com o poder da Inteligência Artificial, agregamos todas as análises disponíveis e entregamos uma decisão embasada e precisa de compra ou venda. Ao combinar dados de diversas fontes e aplicar algoritmos avançados, nossos codigos são capazes de processar informações complexas sobre as ações. A partir dessas análises abrangentes, oferecemos uma conclusão sólida e confiável sobre a direção que uma ação pode tomar e a atitude que você deveria ter em sua carteira. </p>
                    <a href="/finance" class="btn btn-primary mt-2">Veja as Analises</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Open Hours End -->


{% endblock %}